.flag {
    border: 1px solid black;
    height: 533px;
    width: 1000px;
}

.blue {
    height: 284px;
    width: 400px;
    background-color: rgb(6, 37, 95);
    float: left;
    padding-top: 3px;
}

.red {
    height: 41px;
    background-color: rgb(179, 25, 66);
}

.white {
    height: 41px;
    background-color: white;
}

.star1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.star2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 16px;
}