.flag {
    border: 1px solid black;
    height: 533px;
    width: 1000px;
}

.blue {
    height: 287px;
    width: 400px;
    background-color: rgb(10, 49, 97);
    float: left;
}

.red {
    height: 41px;
    background-color: rgb(179, 25, 66);
}

.white {
    height: 41px;
    background-color: white;
}

.star1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.star2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}