.flag {
    border: 1px solid black;
    height: 558px;
    width: 1062px;
}

.blue {
    height: 291px;
    width: 425px;
    background-color: rgb(6, 37, 95);
    float: left;
    padding-top: 10px;
}

.red {
    height: 43px;
    background-color: rgb(179, 25, 66);
}

.white {
    height: 43px;
    background-color: white;
}

.star1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -1px 0 0 0;
}

.star2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 16px;
}